<header>
  <h1>Invoices Dashboard</h1>
</header>

<main>
  <article id="status_percentages">
    <h2>Status Percentages</h2>
    <h3>Pending</h3>
    <h3><%= @pending %>%</h3>
    <h3>Shipped</h3>
    <h3><%= @shipped %>%</h3>
    <h3>Returned</h3>
    <h3><%= @returned %>%</h3>
  </article>

  <article id="unit_prices">
    <h2>Unit Prices</h2>
    <section class="highest">
      <h3>Highest</h3>
      <h4>Invoice:</h4>
      <h4><a href="/invoices/<%= @highest_unit_price.id %>"><%= @highest_unit_price.id %></a></h4>
    </section>
    <section class="lowest">
      <h3>Lowest</h3>
      <h4>Invoice:</h4>
      <h4><a href="/invoices/<% @lowest_unit_price.id %>"><%= @lowest_unit_price.id %></a></h4>
    </section>
  </article>
  
  <article id="quantity">
    <h2>Quantity</h2>
    <section class="highest">
      <h3>Highest</h3>
      <h4>Invoice:</h4>
      <h4><a href="/invoices/<%= @highest_quantity.id %>"><%= @highest_quantity.id %></a></h4>
    </section>
    <section class="lowest">
      <h3>Lowest</h3>
      <h4>Invoice:</h4>
      <h4><a href="/invoices/<% @lowest_quantity.id %>"><%= @lowest_quantity.id %></a></h4>
  </article>
</main>
