<h1> Invoice: <%= @invoice.id %> - <%= @invoice.status.capitalize %></h1>

<form class="edit-invoice" action="/invoices/<%= @invoice.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <p>Merchant</p>
  <select class="merchant-dropdown" name="Merchants" disabled = true>
    <option value="<%= @merchant.id %>"><%= @merchant.name %></option>
  </select>
  <p>Status</p>

  <% statuses = ["pending", "shipped", "returned"] %>
  <select class="status-dropdown" name="invoice[status]">
    <% statuses.each do |status| %>
      <% if status == @invoice.status %>
        <option value=<%= status %> selected><%= status.capitalize %></option>
      <% else %>
        <option value=<%= status %>><%= status.capitalize %></option>
      <% end %>
    <% end %>
  </select>
  <a href="/invoices"><button>Cancel</button></a>
  <input type="submit" value="Update Invoice">
</form>

<table>
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Item Title</th>
      <th>Quantity</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_items.each do |invoice_item| %>
    <tr>
      <td> <a href="/items/<%= invoice_item.item_id %>"><%= invoice_item.item_id %></a></td>
      <td><%= invoice_item.item.name %></td>
      <td><%= invoice_item.quantity %></td>
      <td><%= invoice_item.unit_price.to_f/100 %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total Price: <%= @invoice.total_price.to_f/100 %></td>
    </tr>
  </tfoot>
</table>
