<header>
  <h1> Invoice: <%= @invoice.id %> - <%= @invoice.status.capitalize %></h1>
</header>

<main class="edit">
  <form class="edit-invoice" action="/invoices/<%= @invoice.id %>" method="post">
    <input type="hidden" name="_method" value="PUT">

    <p>Merchant</p>
    <select class="dropdown" id="merchant-dropdown" name="Merchants" disabled = true>
      <option value="<%= @merchant.id %>"><%= @merchant.name %></option>
    </select>

    <p>Status</p>
    <% statuses = ["pending", "shipped", "returned"] %>
    <select class="dropdown" id="status-dropdown" name="invoice[status]">
      <% statuses.each do |status| %>
        <% if status == @invoice.status %>
          <option value=<%= status %> selected><%= status.capitalize %></option>
        <% else %>
          <option value=<%= status %>><%= status.capitalize %></option>
        <% end %>
      <% end %>
    </select>
    <div class="edit-buttons-group">
      <a href="/invoices"><button class="cancel-button">Cancel</button></a>
      <input class="submit-button" type="submit" value="Update Invoice">
    </div>
  </form>
  <section class="table" aria-label="invoice_item_list">
    <table>
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Title</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody>
        <% @invoice_items.each do |invoice_item| %>
        <tr>
          <td><a href="/items/<%= invoice_item.item_id %>"><%= invoice_item.item_id %></a></td>
          <td><%= invoice_item.item.name %></td>
          <td><%= invoice_item.quantity %></td>
          <td>$<%= '%.2f' % (invoice_item.unit_price.to_f/100) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </section>
  <article class="total-price">
    <h3>Total Price: $<%= '%.2f' % (@invoice.total_price.to_f/100) %>
    </h3>
  </article>
</main>
