<header class="has-button-below">
  <h1>Invoice: <%= @invoice.id %> - <%= @invoice.status.capitalize %></h1>
  <div class="edit-buttons-group">
    <a href="/invoices/<%= @invoice.id  %>/edit"><button class="submit-button">Edit</button></a>
    <form class="delete-button" action="/invoices/<%= @invoice.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="cancel-button" type="submit" value="Delete"/>
    </form>
  </div>
</header>

<main>
  <h3><a href="/merchants/<%= @merchant.id %>"><%= @merchant.name %></a></h3>
  <table>
    <thead>
      <tr>
        <th>Item ID</th>
        <th>Item Title</th>
        <th>Quantity</th>
        <th>Unit Price</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice_items.each do |invoice_item| %>
      <tr>
        <td> <a href="/items/<%= invoice_item.item_id %>"><%= invoice_item.item_id %></a></td>
        <td><%= invoice_item.item.name %></td>
        <td><%= invoice_item.quantity %></td>
        <td>$<%= '%.2f' % (invoice_item.unit_price.to_f/100) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <article class="total-price">
    <h3>Total Price: $<%= '%.2f' % (@invoice.total_price.to_f/100) %></h3>
  </article>
</main>
