<table>
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Item Title</th>
      <th>Quantity</th>
      <th>Unit Price</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_items.each do |invoice_item| %>
    <tr>
      <td> <a href="/items/<%= invoice_item.item_id %>"><%= invoice_item.item_id %></a></td>
      <td><%= invoice_item.item.name %></td>
      <td><%= invoice_item.quantity %></td>
      <td>$<%= '%.2f' % (invoice_item.unit_price.to_f/100) %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>Total Price: $<%= '%.2f' % (@invoice.total_price.to_f/100) %></td>
    </tr>
  </tfoot>
</table>
