<header>
  <h1>Edit <%= @item.name %></h1>
</header>

<main>
  <form class="edit-item" action="/items/<%= @item.id %>" method="post">
    <input type="hidden" name="_method" value="PUT">

    <p>Merchant</p>
    <select class="merchant-dropdown" name="item[merchant_id]">
      <% @merchants.each do |merchant| %>
        <% if @item.merchant.id != merchant.id %>
          <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <% else %>
          <option value="<%= merchant.id %>" selected><%= merchant.name %></option>
        <% end %>
      <% end %>
    </select>

    <p>Title</p>
    <input type="text" name="item[name]" value="<%= @item.name %>">

    <p>Description</p>
    <textarea name="item[description]"><%= @item.description %></textarea>

    <p>Price</p>
    <input type="integer" name="item[unit_price]" value="$<%= '%.2f' % @item.unit_price %>">

    <p>Image URL</p>
    <input type="text" name="item[image]" value="<%= @item.image %>">

    <a href="/items"><button>Cancel</button></a>
    <input type="submit" value="Update Item">
  </form>
</main>
