<header>
  <h1><%= @item.name %></h1>
  <a href="/items/<%= @item.id %>/edit"><button>Edit</button></a>
  <form action="/items/<%= @item.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
  </form>
</header>

<main>
  <article class="item-show">
    <h2><a href="/merchants/<%= @merchant.id %>"><%= @merchant.name %></a></h2>
    <img src="<%= @item.image %>" alt="">
  </article>
  <article class="item-show">
    <h2><%= @item.name %></h2>
    <p>$<%= '%.2f' % (@item.unit_price.to_f/100) %></p>
    <p><%= @item.description %></p>
  </article>
</main>
